# ¿Qué tipo de datos maneja pandas?

Quiero empezar a usar pandas

In [3]:
import pandas as pd

Para cargar el paquete pandas y comenzar a trabajar con él, importe el paquete. El alias acordado por la comunidad para pandas es `pd`, por lo que cargar pandas pdes una práctica estándar para toda la documentación de pandas.

## 1. Representación de la tabla de datos de pandas

<img src="data/01_table_dataframe.svg">

### 1.1 Quiero almacenar datos de pasajeros del Titanic. Para un número de pasajeros, conozco los datos de nombre (caracteres), edad (enteros) y sexo (masculino/femenino).

Para almacenar manualmente datos en una tabla, cree un *archivo DataFrame* (Obsérvese el método `DataFrame()`). Al usar un diccionario de listas de Python, las claves del diccionario se usarán como encabezados de columna y los valores de cada lista como columnas del archivo DataFrame.

In [4]:
df = pd.DataFrame(
    {
        "Nombre": [
            "Braund, Mr. Owen Harris",
            "Allen, Mr. William Henrry",
            "Bonnell, Miss. Elizabeth",
        ],
        "Edad": [22, 35, 58],
        "Sexo": ["masculino", "masculino", "femenino"],
    }
)

df

                      Nombre  Edad       Sexo
0    Braund, Mr. Owen Harris    22  masculino
1  Allen, Mr. William Henrry    35  masculino
2   Bonnell, Miss. Elizabeth    58   femenino

*Observaciones*

Un **DataFrame** es una estructura de datos bidimensional que puede almacenar datos de diferentes tipos (incluidos caracteres, números enteros, valores de punto flotante, datos categóricos y más) en columnas. Es similar a una hoja de cálculo, una tabla SQL o `data.frame` en `R`.

* La tabla tiene 3 columnas, cada una de ellas con una etiqueta de columna. Las etiquetas de las columnas son respectivamente *Nombre, Edad y Sexo*.

* La columna *Nombre* consta de datos textuales con cada valor una cadena, la columna *Edad* son números y la columna *Sexo* son datos textuales.

<img src="data/01_table_spreadsheet.png">

Cada columna en a DataFramees un Serie.

## 2. Series

<img src="data/01_table_series.svg">

Cada columna en un `DataFrame` es una Serie.

### 2.1 Supongamos que solo estoy interesado en trabajar con los datos en la columna, *Edad*.

In [19]:
df["Edad"]

0    22
1    35
2    58
Name: Edad, dtype: int64

*Observaciones*

Al seleccionar una sola columna de un DataFrame de pandas, el resultado es una series. Para seleccionar la columna, use la etiqueta de la columna entre corchetes `[]`.

**Nota: Si está familiarizado con los diccionarios de Python , la selección de una sola columna es muy similar a la selección de valores de diccionario basados ​​en sus claves.

También puedes crear uno serie desde cero:

In [14]:
edad = pd.Series([22,35,58], name="Edad")
edad

0    22
1    35
2    58
Name: Edad, dtype: int64

Un pandas Seriesno tiene etiquetas de columna, ya que es solo una columna de un archivo DataFrame. Una serie tiene etiquetas de fila.

## 3. Hacer algo con un DataFrame o Serie

### 3.1 Quiero saber la Edad máxima de los pasajeros.

Podemos hacer esto seleccionando la columna *Edad* y aplicando `max()`:

In [8]:
df["Edad"].max()

58

*Observaciones*

O a la Serie:

In [9]:
edad.max()

58

*Observaciones*

Como se ilustra en el método `max()`, puede hacer cosas con un DataFrame o una Series. `pandas ` proporciona muchas funcionalidades, cada una de ellas con un método que puede aplicar a un DataFrame o  a una Serie. Como los métodos son funciones, no olvides usar paréntesis `()`.

### 3.2 Estoy interesado en algunas estadísticas básicas de los datos numéricos de mi tabla de datos

In [12]:
df.describe()

            Edad
count   3.000000
mean   38.333333
std    18.230012
min    22.000000
25%    28.500000
50%    35.000000
75%    46.500000
max    58.000000

*Observaciones*

El método `describe()` proporciona una descripción general rápida de los datos numéricos en un archivo DataFrame. Como las columnas Nombre, Edad y Sexo son datos textuales, el método `describe()` no los tiene en cuenta de forma predeterminada.

Muchas operaciones de pandas devuelven un DataFrame o un Serie. El método describe() es un ejemplo de una operación pandas que devuelve una Serie o un DataFrame.

## RECORDAR
* Importar el paquete, también conocido como import pandas as pd

* Una tabla de datos se almacena como pandas.DataFrame

* Cada columna en un DataFrame es un Serie

* Puedes hacer cosas aplicando un método a un DataFrame o una Serie